<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume ATS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="hero">
        <h1>AI Resume Screening ATS</h1>

        <p>Upload resumes and rank candidates using Artificial Intelligence.</p>

        <a href="/upload">
            <button>Get Started</button>
        </a>
    </div>

</body>
</html>